@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";
}
@using System.Threading.Tasks
@using RaumplanungCore.ViewModels
@using RaumplanungCore.ViewModels.Kurs;
@model RaumplanungCore.ViewModels.Kurs.KursDetailViewModel

<h1> Detaillierte Kursinformationen </h1>

<br/>
<p> Kursname: @Model.Course.Name </p>
<p> Starttermin: @Model.Course.StartDate.ToString("dd.MM.yyyy") </p>
<p> Endtermin: @Model.Course.EndDate.ToString("dd.MM.yyyy") </p>
<br/>
<p> Allgemeine Informationen </p>
<table>
    <tr>
        <th> Wochentag </th>
        <th> Block </th>
        <th> Uhrzeit </th>
        <th> Raum </th>
    </tr>
    @for (var i = 0; i < Model.AmountOfAll; i++)
    {
        <tr>
            <td style="width: 100px">  @Data.DayStringsLong[Int32.Parse(Model.DayStrings[i]) - 1] </td>
            <td style="width: 80px"> @(Int32.Parse(Model.BlockStrings[i])+1)</td>
            <td style="width: 100px"> @Data.BlockStartArray[Int32.Parse(Model.BlockStrings[i])] Uhr </td>
            <td style="width: 100px"> @Model.RoomStrings[i] </td>
        </tr>
    }
</table>


