@using System.Threading.Tasks
@using Raumplanung.Database
@using RaumplanungCore.ViewModels
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RaumplanungCore.ViewModels.Reservation.AnfragenViewModel
@inject UserManager<Teacher> TeacherManager
@inject DatabaseHandler DatabaseHandler
@{
    ViewData["Title"] = "Tauschanfragen";
}

<h1> @ViewData["Title"] </h1>
<div>
    <p>
       
          
        <div class="left" style="margin-left: 10px">
            <h3>Eingehende Anfragen</h3>
            @if (Model.IncomingExchangeReservations.Any())
            {

                <table>
                    <tr>
                        <th width="100"> Von </th>
                        <th width="100"> Raum </th>
                        <th width="100"> Block </th>
                        <th width="100"> Datum </th>
                        <th width="100"> Uhrzeit </th>
                        <th width="100"> Nachricht </th>
                        <th width="100"> Angebot </th>
                        <th width="100"> Bearbeiten </th>
                    </tr>


                    @foreach (var er in Model.IncomingExchangeReservations)
                    {

                        var reservationfrom = DatabaseHandler.GetReservation(er.ReservationFromId);
                        if (!er.ExchangeStatus)
                        {
                            <tr>
                                <td width="100">@TeacherManager.FindByIdAsync(er.TeacherTo).Result.Vorname @TeacherManager.FindByIdAsync(er.TeacherTo).Result.Nachname</td>
                                <td width="100">@DatabaseHandler.GetRoom(reservationfrom.RoomId).Name</td>
                                <td width="100">@(reservationfrom.Block + 1)</td>
                                <td width="100">@reservationfrom.Date.Value.ToString("dd.MM.yyyy")</td>
                                <td width="100">@Data.BlockStartArray[reservationfrom.Block]</td>
                                <td width="100">@er.Message</td>
                                @if (er.ReservationOfferId != -1)
                                {
                                    <td width="100"><a asp-controller="Reservation" asp-action="Detail" target="_blank" asp-route-reservationId="@er.ReservationOfferId">Angebot</a></td>
                                }
                                else
                                {
                                    <td width="100">Nichts</td>
                                }
                                <td width="100"><a asp-controller="Reservation" asp-action="EditIncoming" asp-route-exchangeid="@er.EchangeReservationId" asp-route-accept="true">Annehmen</a> <a asp-controller="Reservation" asp-action="EditIncoming" asp-route-exchangeid="@er.EchangeReservationId" asp-route-accept="false">Ablehnen</a></td>
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <h3> Keine eingehenden Tauschanfragen. </h3>
            }
        </div>
       
        <div class="right" style="float: left; margin-left: 10px">
            <h3>Ausgehende Anfragen</h3>
            @if (Model.OutgoingExchangeReservations.Any())
            {
                <table>
                    <tr>
                        <th width="100"> An </th>
                        <th width="100"> Raum </th>
                        <th width="100"> Block </th>
                        <th width="100"> Datum </th>
                        <th width="100"> Uhrzeit </th>
                        <th width="100"> Nachricht </th>
                        <th width="100"> Angebot </th>
                        <th width="100"> Status </th>
                        <th width="100"> Bearbeiten </th>
                    </tr>

                    @foreach (var er in Model.OutgoingExchangeReservations)
                    {

                        var reservationfrom = DatabaseHandler.GetReservation(er.ReservationFromId);

                        <tr>
                            <td width="100">@TeacherManager.FindByIdAsync(er.TeacherFrom).Result.Vorname @TeacherManager.FindByIdAsync(er.TeacherFrom).Result.Nachname</td>
                            <td width="100">@DatabaseHandler.GetRoom(reservationfrom.RoomId).Name</td>
                            <td width="100">@(reservationfrom.Block + 1)</td>
                            <td width="100">@reservationfrom.Date.Value.ToString("dd.MM.yyyy")</td>
                            <td width="100">@Data.BlockStartArray[reservationfrom.Block]</td>
                            <td widht="100">@er.Message</td>
                            @if (er.ReservationOfferId != -1)
                            {
                                <td width="100"><a asp-controller="Reservation" asp-action="Detail" target="_blank" asp-route-reservationId="@er.ReservationOfferId">Angebot</a></td>
                            }
                            else
                            {
                                <td width="100">Nichts</td>
                            }
                            @if (er.ExchangeStatus)
                            {
                                if (er.ExchangeAccepted)
                                {
                                    <td width="100">Angenommen</td>
                                }
                                else
                                {
                                    <td width="100">Abgelehnt</td>
                                }

                                <td width="100"><a asp-controller="Reservation" asp-action="EditOutgoing" asp-route-exchangeid="@er.EchangeReservationId">Bestätigen</a></td>

                            }
                            else
                            {
                                <td width="100">Unbearbeitet</td>
                                <td width="100"><a asp-controller="Reservation" asp-action="EditOutgoing" asp-route-exchangeid="@er.EchangeReservationId">Löschen</a></td>
                            }


                        </tr>
                    }


                </table>
            }
            else
            {               
                <h3> Keine ausgehenden Tauschanfragen.</h3>
                
            }
        </div>
    </p>
</div>
<br/>
<br />
<br />
<br />
<br />


