@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Threading.Tasks
@using RaumplanungCore.Controllers
@using RaumplanungCore.ViewModels
@model IEnumerable<RaumplanungCore.Models.Reservation>

@{
    ViewData["Title"] = "Startseite";
}

<h1> Meine Reservierungen </h1>

<br/>
@if (Model.ToList().Count > 0)
{
    <table>
        <tr>
            <th> Raum </th>
            <th> Block </th>
            <th> Datum </th>   
            <th> Uhrzeit </th>         
            <th> Bearbeiten </th>
        </tr>
        @foreach (var reservation in Model)
        {
            <tr>
                <td width="100"> @reservation.Room.Name </td>
                <td width="70"> @(reservation.Block + 1) </td>
                @{
                    string day = reservation.Date.Value.Day.ToString();
                    string month = reservation.Date.Value.Month.ToString();
                    if (reservation.Date.Value.Day < 10)
                    {
                        day = "0" + day;
                    }
                    if (reservation.Date.Value.Month < 10)
                    {
                        month = "0" + month;
                    }

                    var date = day + "." + month + "." + reservation.Date.Value.Year;
                }
                <td width="100"> @date </td>
                <td width="100"> @Data.BlockStartArray[reservation.Block] Uhr </td>
                <td width="150"> <a asp-controller="Reservation" asp-action="Detail" asp-route-reservationId="@reservation.ReservationId">Details</a> | <a asp-controller="Reservation" asp-action="Delete" asp-route-reservationId="@reservation.ReservationId">Entfernen</a></td>
            </tr>
        }
    </table>
}
else
{
    <h3> Es sind keine Reservierungen vorhanden! </h3>
}

<br/>
<p> <a asp-controller="Reservation" asp-action="New"> Neue Reservierung anlegen </a></p>



