@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Threading.Tasks
@using Microsoft.EntityFrameworkCore.Storage
@using Raumplanung.Database
@using RaumplanungCore.ViewModels
@model RaumplanungCore.ViewModels.Reservation.TauschViewModel
@inject UserManager<Teacher> TeacherManager
@inject DatabaseHandler Database;

@{
    ViewData["Title"] = "Tauschen";
}

<h2>@ViewData["Title"]</h2>

<p>
    Tauschanfrage stellen für folgenden Termin: <br />
    Tag: @Model.Reservation.Date.Value.ToString("dd.MM.yyyy") <br />
    Raum: @Database.GetRoom(Model.Reservation.RoomId).Name<br/>
    Block:@(Model.Reservation.Block + 1) <br />
    Zeit:@Data.BlockStartArray[Model.Reservation.Block]<br/>
    Momentan Reserviert von: @TeacherManager.FindByIdAsync(Model.FromTeacherid).Result.Vorname @TeacherManager.FindByIdAsync(Model.FromTeacherid).Result.Nachname
</p>

<form asp-controller="Reservation" asp-action="Tauschen" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <input type="hidden" asp-for="Reservationid" value="@Model.Reservationid"/>
    <input type="hidden" asp-for="FromTeacherid" value="@Model.FromTeacherid" />
    <input type="hidden" asp-for="ToTeacherid" value="@Model.ToTeacherid" />
    <textarea asp-for="message" placeholder="Nachricht an den Tauschpartner" class="col-md-10" rows="5"></textarea><br/><br/><p></p>
    <div class="form-group" >
        
        <div class="col-md-10">
            <label asp-for="OfferReservation" class="control-label">Anderen Termin anbieten:</label>
            <select asp-for="OfferReservation" class="form-control-static">
                <option value="-1">Keinen</option>
                @foreach (Reservation r in Database.GetReservationsFromTeacher(TeacherManager.GetUserAsync(User).Result.Id))
                {
                    <option value="@r.ReservationId">@r.Date.Value.ToString("dd.MM.yyyy"), @Data.BlockStartArray[r.Block] Uhr, Block @(r.Block + 1), @Database.GetRoom(r.RoomId).Name</option>
                }
            </select>
            <span asp-validation-for="OfferReservation" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Anfrage abschicken</button>
        </div>
    </div>
</form>